@using ControleDeMedicamentos.Models
@using ControleDeMedicamentos.ModuloMedicamento

@model CadastrarMedicamentoViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Cadastro de Medicamentos - Controle de Medicamentos</title>
</head>
<body>

    <h1>Controle de Medicamentos</h1>

    <button> <a href="/">Página Inicial</a></button>

    <h3>Cadastrando Medicamento</h3>

    <form action="/medicamentos/cadastrar" method="post">

        <label for="NomeMedicamento">Nome do Medicamento:</label>
        <br />
        <input type="text" name="NomeMedicamento" id="NomeMedicamento"/>

        <br />

        <label for="Descricao">Descrição do Medicamento:</label>
        <br />
        <input type="text" name="Descricao" id="Descricao" />

        <br />

        <label for="Quantidade">Quantidade do Medicamento:</label>
        <br />
        <input type="text" name="Quantidade" id="Quantidade" />

        <br />

        <label for="FornecedorId">Fornecedor do Medicamento:</label>
        <br />
        <select name="FornecedorId" id="FornecedorId">
            @foreach (var fornecedor in Model.FornecedoresDisponiveis)
            {
                <option value="@fornecedor.Id">@fornecedor.Nome</option>
            }
        </select>

        <hr>

        <button type="submit">Inserir</button>
    </form>

</body>
</html>