@using ControleDeMedicamentos.Models
@using ControleDeMedicamentos.ModuloMedicamento

@model CadastrarMedicamentoViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Cadastro de Medicamentos - Controle de Medicamentos</title>
</head>
<body>

    <h1>Controle de Medicamentos</h1>

    <button> <a href="/">Página Inicial</a></button>

    <h3>Cadastrando MEdicamento</h3>

    <form action="/medicamentos/cadastrar" method="post">
        <!--Formularios-->

        <label>Nome do Medicamento:</label>
        <br />
        <input type="text" name="nome" />
        <br />

        <label>Descrição do Medicamento:</label>
        <br />
        <input type="text" name="descricao" />
        <br />

        <label>Fornecedor do Medicamento:</label>
        <br />
        <input type="text" name="fornecedor" />
        <br />

        <label>Quantidade do Medicamento:</label>
        <br />
        <input type="text" name="quantidade" />

        <hr />

        <button type="submit">Inserir</button>
    </form>

</body>
</html>