@using ControleDeMedicamentos.Models
@using ControleDeMedicamentos.ModuloMedicamento;

@model VisualizarMedicamentosViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Medicamentos";
}

<style>
    #botaoCadastrar {
        padding: 10px 20px;
        width: 220px;
        border: 1px solid var(--cor-principal);
        border-radius: 9px;
        background-color: var(--cor-principal);
        color: var(--cor-neutra);
        text-align: center;
    }

    .card {
        height: 220px;
    }

    .cabecalho-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .botoes-interacao {
        display: flex;
        gap: 5px;
        justify-content: end;
        align-items: center;
        margin-top: 30px;
    }

        .botoes-interacao > a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            height: 30px;
            border: 1px solid var(--cor-principal);
            border-radius: 9px;
            background-color: var(--cor-principal);
            color: var(--cor-neutra);
            cursor: pointer;
            font-size: 16px;
        }

    .botoes-interacao-estoque {
        display: flex;
        gap: 5px;
    }

        .botoes-interacao-estoque > a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--cor-neutra);
            border: 1px solid var(--cor-secundaria);
            border-radius: 6px;
            padding: 3px 6px;
            font-size: 15px;
        }
</style>

<a href="/medicamentos/cadastrar" type="button" id="botaoCadastrar">Cadastrar Novo Medicamento</a>

<div class="secao-cards">
    @foreach (var m in Model.Registros)
    {
        <div class="card">
            <div class="cabecalho-card">
                <h3>@m.NomeMedicamento</h3>

                <div class="botoes-interacao-estoque">
                    <a type="button" href="/requisicoes-medicamentos/entrada/@m.Id">+ Estoque</a>

                    @if (m.Quantidade != 0)
                    {
                        <a type="button" href="/requisicoes-medicamentos/saida/@m.Id">- Estoque</a>
                    }
                </div>
            </div>

            <p><strong>Descrição:</strong> @m.Descricao</p>
            <p><strong>Fornecedor:</strong> @m.NomeFornecedor</p>
            <p><strong>Qtd. em Estoque:</strong> @m.Quantidade</p>

            @if (m.EmFalta)
            {
                <strong style="color: var(--cor-secundaria);">Medicamento em falta!</strong>
            }

            <div class="botoes-interacao">
                <a type="button" href="/medicamentos/editar/@m.Id">Editar</a>
                <a type="button" href="/medicamentos/excluir/@m.Id">Excluir</a>
            </div>
        </div>
    }
</div>
