@using ControleDeMedicamentos.Models
@using ControleDeMedicamentos.ModuloFuncionario

@model CadastrarFuncionarioViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Funcionário";
}

<link rel="stylesheet" href="~/form.css" />

<form action="/funcionarios/cadastrar" method="post">
    <label for="nome">Nome do Funcionário:</label>
    <input type="text" name="nome" />

    <label for="telefone">Telefone do Funcionário:</label>
    <input type="text" name="telefone" />

    <label for="cpf">CPF do Funcionário:</label>
    <input type="text" name="cpf" />

    <div class="botoes-interacao">
        <a type="button" id="botaoVoltar" href="/funcionarios/visualizar">Voltar</a>
        <button type="submit" id="botaoConfirmar">Confirmar</button>
    </div>
</form>