<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Notificação - Controle de Medicamentos</title>
</head>
<body>

    <h1>Controle de Medicamentos</h1>

    <hr />

    <a href="/">Página Incial</a>

    <h3>Notificação</h3>

    <p>@ViewBag.Mensagem</p>

</body>
</html>