<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Página Inicial - Controle de Medicamentos</title>
</head>
<body>

    <h1>Controle de Medicamentos</h1>

    <h3>Pacientes</h3>

    <ul>
        <li><a href="pacientes/cadastrar">Cadastrar Novo Paciente</a></li>
        <li><a href="pacientes/visualizar">Visualizar Pacientes</a></li>
    </ul>

    <hr/>

    <h3>Funcionários</h3>

    <ul>
        <li><a href="funcionarios/cadastrar">Cadastrar Novo Funcionário</a></li>
        <li><a href="funcionarios/visualizar">Visualizar Funcionário</a></li>
    </ul>

    <hr />

    <h3>Fornecedores</h3>

    <ul>
        <li><a href="fornecedores/cadastrar">Cadastrar Novo Fornecedor</a></li>
        <li><a href="fornecedores/visualizar">Visualizar Fornecedor</a></li>
    </ul>

</body>
</html>