@{
    Layout = "_Layout";
    ViewBag.Titulo = "Página Inicial";
}

<div class="secao-cards">
    <a href="/funcionarios/visualizar">
        <div class="card">
            <h3>Gestão de Funcionarios</h3>

        </div>
    </a>

    <a href="/fornecedores/visualizar">
        <div class="card">
            <h3>Gestão de Fornecedores</h3>
        </div>
    </a>

    <a href="/pacientes/visualizar">
        <div class="card">
            <h3>Gestão de Pacientes</h3>
        </div>
    </a>

    <a href="/medicamentos/visualizar">
        <div class="card">
            <h3>Gestão de Medicamentos</h3>
        </div>
    </a>

    <a href="/prescricoes/visualizar">
        <div class="card">
            <h3>Prescrições Médicas</h3>
        </div>
    </a>
</div>
