@{
    Layout = "_Layout";
    ViewBag.Titulo = "Página Inicial";
}

<div class="secao-cards">
    <a href="/funcionarios/visualizar">
        <div class="card">
            <h3>Funcionários</h3>
        </div>
    </a>

    <a href="/fornecedores/visualizar">
        <div class="card">
            <h3>Fornecedores</h3>
        </div>
    </a>

    <a href="/pacientes/visualizar">
        <div class="card">
            <h3>Pacientes</h3>
        </div>
    </a>
</div>