<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Página Inicial - Controle de Medicamentos</title>

</head>
<body>
    <header>
        <h2>Controle de Medicamentos</h2>
    </header>

    <main>
        <div>
            <a href="pacientes/visualizar"><h3>Gestão de Pacientes</h3></a>
        </div>

        <div>
            <a href="funcionarios/visualizar"><h3>Gestão de Funcionários</h3></a>
        </div>

        <div>
            <a href="fornecedores/visualizar"><h3>Gestão de Fornecedores</h3></a>
        </div>

        <div>
            <a href="medicamentos/visualizar"><h3>Gestão de Medicamentos</h3></a>
        </div>
    </main>


   

</body>
</html>