@using ControleDeMedicamentos.Models
@using ControleDeMedicamentos.ModuloFornecedor

@model ExcluirFornecedorViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Exclusão de Fornecedor - Controle de Medicamentos</title>
</head>
<body>

    <h1>Controle de Medicamentos</h1>

    <botton><a href="/fornecedores/visualizar">Voltar</a></botton>

    <hr />

    <h3>Exclusao de Fornecedor</h3>

    <p>Você tem certeza que deseja Excluir o Registro @Model.Nome?</p>

    <form action="/fornecedores/excluir/@Model.Id" method="post">
        <!--passando o valor de forma dinamica com #id#-->
        <button type="submit">Excluir</button>
    </form>

</body>
</html>
