@using ControleDeMedicamentos.Models
@using ControleDeMedicamentos.ModuloFornecedor

@model VisualizarFornecedorViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Visualização de Fornecedor - Controle de Medicamentos</title>
</head>
<body>

    <h1>Controle de Medicamentos</h1>

    <button><a href="/">Página Inciail</a></button>
    <button><a href="/fornecedores/cadastrar">Cadastrar Fornecedor</a></button>

    <h3>Visualizando Fornecedores</h3>

    <ul>
        @foreach(DetalhesFornecedorViewModel f in Model.Registros)
        {
            <li>@f.ToString() <a href="/fornecedores/editar/@f.Id">Editar</a> /
                 <a href="/fornecedores/excluir/@f.Id">Excluir</a> </li>
        }
    </ul>


</body>
</html>