<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Cadastro de Pacientes - Controle de Medicamentos</title>
</head>
<body>

    <h1>Controle de Medicamentos</h1>

    <button> <a href="/">Voltar</a></button>

    <h3>Cadastrando de Pacientes</h3>

    <form action="/pacientes/cadastrar" method="post">
        <!--Formularios-->

        <label>Nome do Paciente:</label>
        <br />
        <input type="text" name="nome" />
        <br />

        <label>Telefone do Paciente:</label>
        <br />
        <input type="text" name="telefone" />
        <br />

        <label>Catão Sus do Paciente:</label>
        <br />
        <input type="text" name="cartaoSus" />
        <br />
        <hr />

        <button type="submit">Inserir</button>
    </form>

</body>
</html>